@import-normalize;

body {
  background: linear-gradient(to right, #FFA500, #FF4500);
  font-size: 18px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
a {
  transition: transform 0.3s;
   width: 140px;
}
a:hover {
  transform: translateY(-5px);
  color: #212529;
}

input {
border-top: none;
border-left: none;
border-right: none;
border-bottom: black solid 1px;
background-color: transparent;
transition: 0.2s;
}
input:focus {
border-radius: 18px;
transition: 1s;
  }
  input:hover {
    border-radius: 18px;
    transition: 0.1s;
    border-top: black solid 1px;
border-left: black solid 1px;
border-right: black solid 1px;
      }
      
button {
  text-align: center;
  line-height: 1;
  justify-content: center;
}